<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class = "hero">
        <div class = "hero-body">
           <div class = "container">
               <figure class= "image" style={{width: "100%", height: "auto"}}>
                <img src= "./images/hero.jpg" alt="Amethyst gemstone"/>
              <h1 class = "title">
                 Tutorialspoint (Main title)
              </h1>
              <h2 class = "subtitle">
                 Online Learning (Subtitle)
              </h2>
           </div>
        </div>
     </section>
</body>
</html>